$font-tittle: 'Knewave-Regular';
$white-color: #ffffff;
$red-warning-form: #dc3545;
$green-color: #159953;
$yellow-color: #f8cc46;
$light-yellow: #f5dc93;
$black-color: #1f1d1d;
$black-low-color: #182125;
$font-size-ck: 13px;
$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);