@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '_mixin.scss';
@include font-face('Knewave-Regular',fonts/Knewave-Regular,null,null,ttf);
@import '_variables.scss';

body {
  background-color: #252120;
}

.yellow-light {
  color: $yellow-color !important;
  &.tittle-header {
    font-family: $font-tittle;
  }
  &.bg-deepdark {
    background-color: #282d31;
  }
}

.bg-dark {
  &.br-yellow {
    border-color: $yellow-color;
  }
}

li {
  &.light-green {
    background: lightseagreen;
  }
}

.light-yellow {
  color: $light-yellow !important;
  &.black-ground {
    background-color: $black-low-color !important;
  }
}

@import 'PageHome.scss';
@import 'Pagination.scss'
