@import '_variables.scss';

.body{
  &.section-card {
    padding: 20px;

    .col-card {
      padding-bottom: 15px;
      .black-card {
        background-color: $black-color;
        padding: 0px 15px;
      }
      .card-header {
        border-bottom-color: #def515;
        padding-left: 10px;
        padding-right: 10px;
        &.yellow {
          color: $light-yellow !important;
        }
      }
      .body-section{
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .loading {
      &.fullfilled {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 84vh;

        &.heightred {
          height: 20vh !important;
        }
      }
    }
  }
}