.body.section-card {
  padding: 20px; }
  .body.section-card .col-card {
    padding-bottom: 15px; }
    .body.section-card .col-card .black-card {
      background-color: #1f1d1d;
      padding: 0px 15px; }
    .body.section-card .col-card .card-header {
      border-bottom-color: #def515;
      padding-left: 10px;
      padding-right: 10px; }
      .body.section-card .col-card .card-header.yellow {
        color: #f5dc93 !important; }
    .body.section-card .col-card .body-section {
      padding-bottom: 12px;
      padding-left: 10px;
      padding-right: 10px; }
  .body.section-card .loading.fullfilled {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 84vh; }
    .body.section-card .loading.fullfilled.heightred {
      height: 20vh !important; }
