/* Define Styles */
.current-page {
  font-size: 1.5rem;
  vertical-align: middle; }

.current-page {
  line-height: 1; }

.pagination.center {
  justify-content: center; }

/* Override some Bootstrap pagination styles */
ul.pagination {
  margin-top: 0;
  margin-bottom: 0; }
  ul.pagination li.page-item.active a.page-link {
    color: #445565 !important;
    background-color: #e3e7eb !important;
    border-color: #ced4da !important; }
  ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem; }
    ul.pagination a.page-link:hover {
      background-color: #f4f4f4; }
